<section data-ng-controller="ProductsController">
    <div class="page-header">
        <h1>New Product</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                <table width="100%">
                        <tr>
                            <td style="border:20px solid white;width:50%"> <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="string" required>
                                </div>

                                <label class="control-label" for="Price">Price</label>
                                <div class="input-group input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" data-ng-model="price" id="price" class="form-control" placeholder="mix - not done" required>
                                </div>

                                <label class="control-label" for="Quantity">Quantity</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="quantity" id="quantity" class="form-control" placeholder="number" required>
                                </div>


                                <label class="control-label" for="SKU">SKU</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="sku" id="sku" class="form-control" placeholder="number" required>
                                </div></td>
                                <td>

                                    <label class="control-label" for="Description">Description</label>
                                    <div class="controls">
                                        <textarea type="text" data-ng-model="description" id="description" class="form-control" rows="10" placeholder="Mix input" required></textarea>
                                    </div>

                                </td>
                            </tr>
                        </table>
                        <label class="control-label" for="Category">Select Category:</label>
                        <ul class="nav nav-pills">
                            <li ng-repeat="category in categories track by $index">
                                <button ng:class= "{'btn-success':make($index)}" type="button" class="btn btn-xs" ng-click="selectingCategory(category, $index)" >{{category.name}}</button>
                            </li>
                        </ul>
                        <label class="control-label">Upload Image</label>
                        <div style="height:20px;"></div>

                        <!-- upload -->
                        <button type="file" ngf-select="uploadFiles($files)" multiple accept="image/*" ngf-max-height="1000" ngf-max-size="5MB">
                            Select Files
                        </button>

                        Files:

                        <div style="height:30px;"></div>
                        <div class="imageContainer">
                            <div class="row">
                                <div ng-if="files" ng-repeat="image in files track by $index">
                                    <div class="col-xs-3">
                                        <a href="#" class="thumbnail">
                                            <img ng-src="{{image.result}}" height="100" width="100"/>{{image.$error}} {{image.$errorParam}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{errorMsg}}
                        </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
