<section data-ng-controller="ProductsController" data-ng-init="find()">
    <div class="page-header">
        <span style="font-size:larger;">Products</span>  <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored LeftEmptySpace " href="/#!/products/create"><i class="material-icons">add</i></a>
    </div>
    <div class="list-group">
        <div data-ng-repeat="product in products"  >
            <h2 class="list-group-item-heading" style="display:inline-block;" ><a data-ng-href="#!/products/{{product._id}}" data-ng-bind="product.name" > </a></h2>
            <span class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == product.user._id))">
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored pull-right LeftEmptySpace " ng-click="remove(product._id);"><i class="material-icons">remove</i></a>
                <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored pull-right " href="/#!/products/{{product._id}}/edit"><i class="material-icons">edit</i></a>
            </span>
			<br/>
            <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="product.created | date:'medium'"></span>
				by
				<span data-ng-bind="product.user.displayName"></span>
			</small>
            <hr/>
    </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
    	No Products yet, why don't you <a href="/#!/products/create">create one</a>?
    </div>
</section>
